.col-md-3,
h2,
.form-label {
  color: gray;
}

.col-md-9,
h2,
.table-responsive table thead tr th {
  color: gray;
}

#custom-profile-img {
  width: 25%;
  border-radius: 50%;
}
#file-label {
  cursor: pointer;
}
#file-label svg {
  color: black;
}

#file {
  display: none;
}
