.list-group-item,
h3 {
  color: grey;
}

.list-group-item:last-child {
  justify-content: center;
  display: flex;
}
.col-md-3 {
  margin-top: 50px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .card {
    min-width: 180px;
  }
}
