.form .custom-btn {
  background-color: #1f305e;
  margin-top: 10px;
  min-width: 120px;

  min-height: 40px;
  max-height: 40px;
}

#custom-btn {
  background-color: #1f305e;
  min-width: 120px;
  margin-top: 10px;
  min-height: 40px;
  max-height: 40px;
}
