.navbar {
  background-color: #606060;
}
.navbar-brand div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.navbar-brand img {
  width: 20px;
  height: 20px;
}
.rounded-pill {
  position: absolute;
  top: 5px;
  margin-left: -5px;
}

@media screen and (max-width: 767px) {
  .ms-auto .nav-link {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}
